body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
img{
    width: 600px;
    margin-left: 200px;
    margin-top: 10px;
}
h1{
    
    border: double;
    border-radius: 50px;
    border-color: red;
    margin: initial;
    margin-right: 200px;
    margin-left: 200px;
    color: lightsalmon;
    text-align: center;
    margin-top: 30px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: green;
  }
  
  .active {
    background-color: #4CAF50;
  }

